#head
{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 300px;
    top: 100px;
    background-color: white;
    border: solid 2px white;
    border-radius: 50px;
}
#leftEye
{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 25px;
    top: 35px;
    background-color: black;
    border: solid 2px black;
    border-radius: 50px;
}
#rightEye
{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 75px;
    top: 35px;
    background-color: black;
    border: solid 2px black;
    border-radius: 50px;
}
#nose
{
    width: 10px;
    height: 5px;
    position: absolute;
    background-color: pink;
    border: solid 2px black;
    border-radius: 0 0 45px 45px;
    left: 55px;
    top: 50px;
}
#mouth
{
    width: 30px;
    height: 2px;
    position: absolute;
    background-color: red;
    border: solid 2px black;
    border-radius: 0 0 45px 45px;
    left: 40px;
    top: 65px;
}
#leftEar
{
    width: 5px;
    height: 5px;
    position: absolute;
    left: 10px;
    top: -15px;
    border-right: 25px solid white;
    border-top: 25px solid transparent;
}
#rightEar
{
    width: 5px;
    height: 5px;
    position: absolute;
    left: 60px;
    top: -15px;
    border-left: 25px solid white;
    border-top: 25px solid transparent;
}
body
{
    background-color: black;
    background-image: url("bg.gif");
    background-repeat: repeat-y repeat-x;
}